@import "susy";
@import "breakpoint";

$susy : (
	columns : 12,
	gutters: 0,
	math : fluid,
	output : static,
	gutter-position : inside,
	custom-box-sizing : border-box
);


body {
	background : $body-color;
	font : {
		weight : $base-font-weight;
		family : $base-font; 
	}
	color: $text-color;
	line-height: $base-line-height;
}

.container {
	@include breakpoint($tablet){
		@include container($tablet-container);
	}
	@include breakpoint($desktop){
		@include container($desktop-container);
	}
}






/* @include breakpoint(500px){
	main {
		@include span(8);
	}
	aside {
		@include span(4);
	}
} */

