

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em 0;
	width: 100%;
	@media (min-width: $screen-md-min){
		max-width: 80%;
		width: calc(100% - 2em);
	}
	
	
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #fff;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}
/* Yoko */
.input__field--yoko {
	z-index: 10;
	width: 100%;
	background: transparent;
	color: #fff;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.input__label--yoko {
	position: relative;
	width: 100%;
	color: #b04b40;
	text-align: left;
}

.input__label--yoko::before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 4em;
	background: #E96C77;
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.textarea-yoko-message {
	height: 220px;
}
.textarea-yoko::before {
	height: 220px;
}

.input__label--yoko::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.3em;
	background: #E96C77;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--yoko {
	padding: 0.75em 0;
}

.input__field--yoko:focus,
.input--filled .input__field--yoko {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__field--yoko:focus + .input__label--yoko::before,
.input--filled .input__label--yoko::before {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.input__field--yoko:focus + .input__label--yoko,
.input--filled .input__label--yoko {
	pointer-events: none;
}

.input__field--yoko:focus + .input__label--yoko::after,
.input--filled .input__label--yoko::after {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
}



#questionaire {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  color: #fff;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-weight: 300;
  font-size: 22px;
  @media (max-width: $screen-xs-max){
		font-size: 18px;
	}
  text-align: center;
}
#questionaire > div {
  position: absolute;
  left: 110%;
  top: 0;
  z-index: 1;
  transition: all .5s ease-out;
  width: 100%;
}
#questionaire > div.active{
  left: 0;
  z-index: 10;
}
#questionaire > div.visited{
  left: -110%;
}
.modal-content {
  background: #e96c77;
  border-radius: 0;
}
.modal-header {
  background: rgba(0,0,0,.2);
  border: 0px none;
}
.modal-header h4 {
  font-size: 30px;
  @media (max-width: $screen-xs-max){
		font-size: 22px;
	}
  color: #fff;
}
.modal-footer {
  border: 0;
  text-align: center;
}
.modal-footer .btn-default {
  padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: rgba(255,255,255,.7);
}
.modal-backdrop {
  background-color: #92333B;
}
.modal-backdrop.in {
  opacity: 0.9;
}
#next {
  background: #5b5c6b;
  padding: 2px 0;
  height: auto;
  width: 160px;
  font-size: 1em;
  margin: 0 auto;
  display: block;
  transition: all 1s ease;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 0%);
  outline: none;
}
#questionaire {
	p {
		min-height: 120px;
	}
	label {
		padding: 30px;
		display: block;
	    margin: 20px;
	    border: 2px solid #fff;
	    border-radius: 100%;
	    width: 120px;
	    height: 120px;
	    margin: 0 auto;
	    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 0%);
	    font-size: 2.5em;
	    line-height: 20px;
	    transition: all .5s ease-in-out;
	    overflow: hidden;
	    position: relative;
	    @media (max-width: $screen-xs-max){
			width: 80px;
	    	height: 80px;
	    	padding: 15px;
		}
	    span {
	    	opacity: 0;
	    	font-size: 2em;
	    	transition: all .2s ease;
	    	position: absolute;
		    bottom: -38px;
		    left: -26px;
	    }
	    &:hover,  &:active{
	    	box-shadow: 1px 0px 15px 15px rgba(0,0,0,.2) inset;
	    	font-size: 1em;
	    	span {
	    		font-size: 28px;
			    margin-left: 0;
			    text-transform: uppercase;
			    display: block;
			    text-align: center;
			    margin-top: 12px;
			    opacity: 1;
			    margin-left: 0;
			    top: 53px;
    			left: 34px;
    			@media (max-width: $screen-xs-max){
					top: 30px;
    				left: 21px;
    				font-size: 20px;
				}
	    	}
	    }
	}
	input[type=radio]{
		display: none;
	}
}
.yesSection label {
    
    background-color: #A7BF1F;
    
}
.noSection label {
    background-color: #BF1F35;
}


.box-child {
    background: #fff;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    padding: 30px 30px 80px;
    text-align: center;
    margin-bottom: 30px;
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        min-height: 430px;
    }
    @media (min-width: $screen-lg-min) {
        min-height: 430px;
    }
    i {
        background-color: $primary-color;
        border-radius: 100%;
        color: $white;
        cursor: default;
        display: block;
        height: 150px;
        line-height: 66px;
        margin: 0 auto 1.5em auto;
        text-align: center;
        width: 150px;
        background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 0%);
        font-size: 30px;
        
        box-shadow: 4px 7px 9px rgba(0,0,0,0.2);
    }
    h2 {
        font-size: 1.5em;
        margin-bottom: 1.5em;
    }
    p {
        margin-bottom: 0;
    }
    ul {
        @include reset-list;
    }
    a {
    	    position: absolute;
		    bottom: 29px;
		    border-radius: 0;
		    left: 15px;
		    right: 15px;
		    line-height: 45px;
		    @media (max-width: $screen-xs-max) {
		        bottom: 0;
		    }
    }
    .well {
    	background-color: #f5f5f5;
    border: 0;
    border-radius: 0;
    margin: 20px 0;
    }
    .more {
    		display: none;
    	}
    	.less {
    		display: inline;
    	}
    .collapsed {
    	.more {
    		display: inline;
    	}
    	.less {
    		display: none;
    	}
    }
}





