.footer-distributed {
    background-color: $header-color;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 14px sans-serif;
    padding: 30px 0px;
    margin-top: 0px;
    @media(min-width: $screen-sm-min) {
        padding: 55px 50px;
        margin-top: 0px;
    }
    @media(max-width: $screen-xs-max) {
        text-align: center;
    }
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    vertical-align: top;
    //border-right: 1px solid rgba(0,0,0,.2);
    @media(max-width: $screen-xs-max) {
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        padding-bottom: 20px;
    }
}


/* Footer left */

.footer-distributed .footer-left {
    @include make-sm-column(12);
    @include make-md-column(5);
    img {
        float: left;
        margin-right: 15px;
    }
    .text h3 {
        margin-top: 35px;
        margin-bottom: 40px;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        img {
            float: none;
        }
        text-align: center;
        margin-bottom: 50px;
    }
    @media(max-width: $screen-xs-max) {
        img {
            float: none;
        }
    }
}


/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
    display: block;
    font-size: 0.6em;
    font-weight: 300;
    letter-spacing: 0.05em;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 70px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


/* Footer Center */

.footer-distributed .footer-center {
    @include make-sm-column(6);
    @include make-md-column(4);
    font-size: 12px;
}

.footer-distributed .footer-center i {
    background-color: $primary-color;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 0%);
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
    width: 75%;
    @media(max-width: $screen-xs-max) {
        display: block;
        width: 100%;
        margin: 15px 0;
    }
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    text-decoration: none;
    ;
}


/* Footer Right */

.footer-distributed .footer-right {
    @include make-sm-column(6);
    @include make-md-column(3);
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: auto;
    height: 35px;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
    i {
        background-color: $primary-color;
        color: #ffffff;
        font-size: 20px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        text-align: center;
        line-height: 37px;
        margin: 10px 5px;
        vertical-align: middle;
        background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 0%);
    }
}


/* If you don't want the footer to be responsive, remove these media queries */

#counter {
    margin: 5px;
    text-align: right;
    line-height: 100px;
    color: #808080;
    font-size: 2em;
    @extend h2;
}

.count {
 	color: #000;
}
