$body-color			: #f5f5f5;
$alternate-color	: #ffffff;
$primary-color		: #e96c77;
$header-color		: #333447;
$white				: #ffffff;

$text-color 		: #808080;
$link-color			: $primary-color;

$heading-color		: #555555;
$heading-weight		: 900;
