#{headings()} {
    font-weight: $heading-font-weight;
    color: $heading-color;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    @include trailer(.5);
}

h1 {
    @include adjust-font-size-to($base-font-size + ($golden-ratio * 10), 1);
}

h2 {
    @include adjust-font-size-to($base-font-size + ($golden-ratio * 8), 1);
}

h3 {
    @include adjust-font-size-to($base-font-size + ($golden-ratio * 6), 1);
}

h4 {
    @include adjust-font-size-to($base-font-size + ($golden-ratio * 4), 1);
}

h5 {
    @include adjust-font-size-to($base-font-size + ($golden-ratio * 2), 1);
}

h6 {
    @include adjust-font-size-to($base-font-size, 1);
}

p {
    //@include leader(1);
    @include trailer(1);
}

a {
    color: $primary-color;
}

.section-hdr {
    &:before,
    &:after {
        background-image: url("../images/section-header.svg");
        background-repeat: no-repeat;
        content: '';
        display: inline-block;
        height: 20px;
        width: 150px;
        background-position: center right;
        margin-right: 1em;
        background-size: 75px 20px;
        width: 75px;
    }
    &:after {
        transform: scaleX(-1);
        background-position: center left;
        margin-left: 1em;
        margin-right: 0;
    }
}
