#{headings()} {
    text-transform: uppercase;
    letter-spacing: -0.05em;
}


.section-hdr {
    text-align: center;
    @media (max-width: $screen-xs-max){
        font-size: 1.5em;
    }
    &:before,
    &:after {
        background-image: url("../images/section-header.svg");
        background-repeat: no-repeat;
        content: '';
        display: inline-block;
        height: 20px;
        width: 150px;
        background-position: center right;
        margin-right: 10px;
        @media (min-width: $screen-sm-min){
            margin-right: 1em;
        }
        background-size: 75px 20px;
        width: 75px;
    }
    &:after {
        transform: scaleX(-1);
        background-position: center left;
        margin-left: 10px;
        @media (min-width: $screen-sm-min){
            margin-left: 1em;
        }
        margin-right: 0;
    }
}
.page-title {
    margin: 2em;
}